
<div class="container" style='padding-top: 90px; padding-right: 35px;'>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g2k1Eit5i98" ></iframe>
  </div>
</div>

  <hr class="featurette-divider">
    <div class="container">  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Kathmandu Zoo. <span class="text-muted">It will blow your mind.</span></h2>
          <p class="lead">For decades the Kathmandu zoo has been a magnificent attraction for tourists and locals alike gathering hundreds of exotic animals for display such as that of the Himalayan Yeti. Yet with such wild and powerful creatures it is but a matter of time before an escape is made...</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="assets/Zoo_Promo_Web_01.jpg" alt="Generic placeholder image">
        </div>
      </div>
    </div>

  <hr class="featurette-divider">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Shecky. <span class="text-muted">The Yeti.</span></h2>
          <p class="lead">Emanating from the foothills of Mount Everest, Shecky the Yeti knew a simple, peaceful life until being captured by Karki the zookeeper for display within the town of Kathmandu below. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="assets/Cha_Yeti.jpg" alt="Generic placeholder image">
        </div>
      </div>
    </div>

  <hr class="featurette-divider">
    <div class="container">    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Karki. <span class="text-muted">The Zoo Keeper.</span></h2>
          <p class="lead">Born and raised within the Himalayan mountain range, Karki the zookeeper has dedicated his life towards discovering and capturing the most exotic creatures available for display within the local Kathmandu zoo. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="assets/Cha_Zookeeper.jpg" alt="Generic placeholder image">
        </div>
      </div>
    </div>

  <hr class="featurette-divider">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Environment. <span class="text-muted">The Temple.</span></h2>
          <p class="lead">Through your Chase with Karki the zoo keeper you will get a chance to run through traditional Nepalese pagoda temples and sense the renowned Hindu and Buddhist  architectural influence present in the mythical city of Kathmandu. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="assets/World_SubUrban.jpg" alt="Generic placeholder image">
        </div>
      </div>
    </div>

  <hr class="featurette-divider">
    <div class="container">    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Environment. <span class="text-muted">The City.</span></h2>
          <p class="lead">Explore an environment based on the fabled city of Kathmandu regrouping one of the biggest concentration of historical monuments in the world, many of which have been destroyed during the Gorkha earthquake. Let's play together to restore this splendid city! </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="assets/World_Urban.jpg" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>

  
<!--   <hr class="featurette-divider"> -->
  <div class="container marketing">
      <div class="page-header" style="padding-top: 20px;">
        <h1>Obstacles</h1>
      </div>
      <div class="container marketing" style="padding-top: 20px;">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="assets/Obj_Bus.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Buses</h2>
            <p>Be Careful! Contrary to common western transportation, buses in Nepal are owned by individual drivers. Be weary of the fierce race taking place as they battle it out to arrive first at the next bus stop.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="assets/Obj_Car.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Cars</h2>
            <p> Car drivers are fearless in Nepal and will expect anything and everything to dodge out of the way. Prepare yourself to move swiftly as you navigate the dense traffic of Kathmandu.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="assets/Obj_Barriers.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Barriers</h2>
            <p>The roads of Kathmandu are beautiful yet require routine maintenance. Ready yourself to jump and slide over and under any barriers in your way. </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->  
      </div>
  </div>

  <div class="container marketing">
    <div class="page-header" style="padding-top: 20px;">
      <h1>Bonuses</h1>
    </div>
    <div class="container marketing" style="padding-top: 20px;">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="assets/P_Magnet.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Magnets</h2>
          <p>Make sure to grab these along the way to attract extra coins and rack up points!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/P_Coin.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Coins</h2>
          <p> Seek the path with the most coins as you strive for the highest score!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/P_Shield.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Shields</h2>
          <p> Grab a shield for temporary protection against any obstacles that fall into your way!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->  
    </div>
    <hr class="featurette-divider">
  </div>