<div class="container">
  <div class="page-header" style="padding-top: 30px;">
    <h1>Press</h1>
  </div>
  <div class="container">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="assets/vansun.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mobile game aimed at helping Nepal earthquake survivors</h4>
        An entrepreneur in Vancouver has created a mobile game he hopes will help raise money for victims of the earthquake in Nepal

        Sajjan Karki was at his graduation convocation at Quest University Canada when he heard of the earthquake that devastated his home country of Nepal.
        <p><a class="btn btn-md btn-primary" href="http://www.vancouversun.com/business/technology/Mobile+game+aimed+helping+Nepal+earthquake+survivors/11129159/story.html#ixzz3f8J8Wz9N" role="button">Read More</a></p>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 60px; padding-bottom: 70px;">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="assets/squam.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mobile game aimed at helping Nepal earthquake survivors</h4>
        It was the highest of highs followed by the lowest of lows on April 25 for Sajjan Karki.

        After four years of intense studies, he graduated from Quest University on that day, but it was also the same day that disaster struck his home country of Nepal.
        <p><a class="btn btn-md btn-primary" href="http://www.squamishchief.com/lifestyles/quest-grad-turns-horror-into-hope-1.1965919">Read More</a></p>
      </div>
    </div>
  </div>
</div>